<template>
    <v-container fluid>
        <card-layout v-if="!newPasswordSet">
            <v-card-text>
                <h2>Ustaw nowe haslo</h2>
                <v-text-field label="Nowe hasło" v-model="newPassword" name="newPassword" type="password" :rules="notEmptyRule"></v-text-field>
                <v-text-field label="Potwierdź hasło" v-model="confirmPassword" name="confirmPassword" type="password" :rules="notEmptyRule"></v-text-field>
            </v-card-text>

            <v-card-actions>
                <div class="form-group">
                    <v-btn :disabled="fetching" @click="handleSubmit">Ustaw nowe hasło</v-btn>
                </div>
            </v-card-actions>

        </card-layout>

        <card-layout v-if="newPasswordSet">
            <v-card-text>
                Haslo pomyslnie zresetowane, mozesz się teraz zalogowac nowym haslem.
            </v-card-text>
            <v-card-actions>
                <v-btn to="/">
                    Strona główna
                </v-btn>
            </v-card-actions>
        </card-layout>

        <v-snackbar v-model="snackbar">
            {{ errorMessage }}
            <v-btn color="pink" text @click="snackbar = false">
                Zamknij
            </v-btn>
        </v-snackbar>
    </v-container>
</template>
<script src="./setNewPassword.ts"></script>