<template>
    <div class="profile">
        <h2>Profil</h2>
        <div class="row">
            <div class="profile-data col-sm-6">
                <v-card class="mb-3">
                    <v-card-text>
                        <v-text-field readonly label="Login" v-model="profile.candidateId" name="profile.candidateId"></v-text-field>
                        <v-text-field readonly label="Imię" v-model="profile.name" name="profile.name"></v-text-field>
                        <v-text-field readonly label="Nazwisko" v-model="profile.surname" name="profile.surname"></v-text-field>
                        <v-text-field readonly label="Adres email" v-model="profile.email" name="profile.email"></v-text-field>
                        <v-text-field readonly label="Data urodzenia" v-model="birthDate" name="birthDate"></v-text-field>
                        <v-text-field readonly v-if="profile.pesel" label="Nr PESEL" v-model="profile.pesel" name="profile.pesel"></v-text-field>
                        <p>
                            Dane podane przy rejestracji, nie mogą zostać zmienione, jeśli widzisz w nich jakiś błąd, skontaktuj się z administratorem.
                        </p>
                    </v-card-text>
                </v-card>
                <v-card class="mb-3">
                    <v-card-text>
                        <v-text-field label="Adres" v-model="adress" name="adress"></v-text-field>
                        <v-text-field label="Imię i nazwisko rodzica 1" v-model="fatherName" name="fatherName"></v-text-field>
                        <v-text-field label="Imię i nazwisko rodzica 2" v-model="motherName" name="motherName"></v-text-field>
                        <v-text-field label="Szkoła podstawowa" v-model="primarySchool" name="primarySchool"></v-text-field>
                        <div class="form-group">
                            <v-btn :disabled="fetching" @click="handleSubmit">Zapisz dane</v-btn>
                            <img v-show="fetching" />
                        </div>
                    </v-card-text>
                </v-card>
            </div>

            <div class="profile-picture col-sm-6">
                <PictureInput @picture-confirmed="PictureConfirmed" :fileId="profilePictureFileId" :fileName="profilePicName"></PictureInput>
            </div>

        </div>

        <div class="profile-documents">
            <v-file-input v-model="file"
                        placeholder="Świadectwo.pdf"
                        label="Wybierz dokument">
            </v-file-input>
            <v-btn @click="uploadDocument">
                Prześlij document
            </v-btn>
            <div v-for="document in profile.documents">
                <v-card>
                    {{document.name}}
                    <v-btn @click="downloadDocument(document.id)">Pobierz   <v-icon>file_download</v-icon></v-btn>
                    <v-btn @click="deleteDocument(document.id)">Usuń   <v-icon>delete</v-icon></v-btn>
                </v-card>
            </div>
        </div>
    </div>
</template>
<script src="./profile.ts"></script>
