<script src="./login.ts"></script>
<template>
    <form @submit.prevent="()=>{}">
        <card-layout>

            <v-card-text>
                <h2>Logowanie</h2>
                <v-text-field label="Login" v-model="login" name="login" :rules="notEmptyRule"></v-text-field>
                <v-btn to="/account/remindLogin">Przypomnij login</v-btn>
                <v-text-field label="Hasło" v-model="password" name="password" type="password" :rules="notEmptyRule"></v-text-field>
                <v-btn class="mb-2" to="/account/resetpassword">Zresetuj hasło</v-btn>
                <v-alert type="error" v-show="failed">Logowanie się nie powiodło, spróbuj jeszcze raz lub skontaktuj się z administratorem.</v-alert>
            </v-card-text>

            <v-card-actions>
                <div class="form-group">
                    <v-btn :disabled="fetching" @click="handleSubmit">Zaloguj</v-btn>
                    <img v-show="fetching" />
                </div>
            </v-card-actions>

        </card-layout>
    </form>
</template>