<template>
    <div>
        <h2>details items: {{ currentSystemEntity }}</h2>

        <v-container v-if="SystemEntityEnum.Exam==currentSystemEntity">
            TODO
            <exam-details :id="id"></exam-details>
        </v-container>

        <v-container v-if="SystemEntityEnum.Candidate==currentSystemEntity">
            TODO
            <candidate-details :id="id"></candidate-details>
        </v-container>

        <v-container v-if="SystemEntityEnum.ExamCategory==currentSystemEntity">
            <card-layout className="col-md-10">
                <v-card-text>
                    <v-text-field readonly label="Id" v-model="examCategory.id" name="examCategory.id"></v-text-field>
                    <v-text-field label="Nazwa kategorii" v-model="examCategory.name" name="examCategory.name"></v-text-field>
                </v-card-text>
                <v-card-actions>
                    <v-btn @click="handleDelete">
                        Usun
                    </v-btn>
                    <v-btn @click="handleSubmit">
                        Zapisz
                    </v-btn>
                </v-card-actions>
            </card-layout>
        </v-container>

        <v-container v-if="SystemEntityEnum.Teacher==currentSystemEntity">
            <card-layout className="col-md-10">
                <v-card-text>
                    <v-text-field readonly label="Id" v-model="teacher.id" name="teacher.id"></v-text-field>
                    <v-text-field label="Imię" v-model="teacher.name" name="teacher.name"></v-text-field>
                    <v-text-field label="Nazwisko" v-model="teacher.surname" name="teacher.surname"></v-text-field>
                </v-card-text>
                <v-card-actions>
                    <v-btn @click="handleDelete">
                        Usun
                    </v-btn>
                    <v-btn @click="handleSubmit">
                        Zapisz
                    </v-btn>
                </v-card-actions>
            </card-layout>
        </v-container>
    </div>
</template>
<script src="./details.ts"></script>
