<template>
    <div>
        <h2>examdetails items</h2>
            <card-layout className="col-md-10">
                <v-card-text>
                    TODO
                </v-card-text>
                <v-card-actions>
                    <v-btn @click="handleDelete">
                        Usun
                    </v-btn>
                    <v-btn @click="handleSubmit">
                        Zapisz
                    </v-btn>
                </v-card-actions>
            </card-layout>
    </div>
</template>
<script src="./examDetails.ts"></script>
