<template>
    <v-container fluid>
        <card-layout v-if="!passwordResetCompleted">
            <v-card-text>
                <h2>Resetuj hasło</h2>
                <v-text-field label="Login" v-model="login" name="login" :rules="notEmptyRule"></v-text-field>
                <v-card-actions>
                    <div class="form-group">
                        <v-btn :disabled="fetching" @click="handleSubmit">Resetuj hasło</v-btn>
                    </div>
                </v-card-actions>
            </v-card-text>
        </card-layout>

        <card-layout v-if="passwordResetCompleted">
            <v-card-text>
                Na email podany przy rejestracji konta zostala wyslana wiadomosc z linkiem do zmiany hasla.
            </v-card-text>
            <v-card-actions>
                <v-btn to="/">
                    Strona główna
                </v-btn>
            </v-card-actions>
        </card-layout>
    </v-container>
</template>

<script src="./resetPassword.ts"></script>