<template>
    <div>
    <div v-if="!passwordResetCompleted">
        <h2>Reset Password</h2>
        <form @submit.prevent="handleSubmit">
            <div class="form-group">
                <label htmlFor="login">login</label>
                <input type="text" v-model="login" name="login" class="form-control" />
                <div v-show="submitted && !login" class="invalid-feedback">login is required</div>
            </div>

            <div class="form-group">
                <button class="btn btn-primary" v-disabled="fetching">Send reset password link</button>
                <div v-show="backendError"> {{backendError}} </div>
                <img v-show="fetching" />
            </div>
        </form>
    </div>

    <div v-if="passwordResetCompleted">
        Na email podany przy rejestracji konta zostala wyslana wiadomosc z linkiem do zmiany hasla.
    </div>
    </div>
</template>

<script src="./resetPassword.ts"></script>