<template>
    <div class="">
        <div class="row">
            <div class="left-menu">
                <router-link to="/" class="">RecruitMe.Web</router-link>
            </div>
            <div class="right-menu float-right" v-if="!displayName">
                <router-link to="/account/register" class="btn btn-link">Register</router-link>
                <router-link to="/account/login" class="btn btn-link">Login</router-link>
            </div>
            <div class="right-menu float-right" v-if="displayName">
                <router-link to="/recruitment/profile" class="btn btn-link">Profile</router-link>
                <button class="btn btn-link" v-on:click="logout()">Logout</button>
            </div> 
        </div>
    </div>
</template>

<script src="./navmenu.ts" />
<style src="./navmenu.css" />