<template>
    <div>
        <v-toolbar>
                <router-link to="/">
                    <v-toolbar-title>RecruitMe.Web</v-toolbar-title>
            </router-link>
            <router-link to="/about">
                <span>O szkole</span>
            </router-link>
            <router-link to="/terms">
                <span>Regulamin</span>
            </router-link>
            <v-spacer />

            <template v-if="!userLoggedIn">
                <v-toolbar-items>
                    <v-btn to="/account/register">
                        <span>Zarejestruj się   <v-icon>exit_to_app</v-icon></span>
                    </v-btn>
                    <v-btn to="/account/login">
                        <span>Zaloguj   <v-icon>account_circle</v-icon></span>
                    </v-btn>
                </v-toolbar-items>
            </template>

            <template v-if="userLoggedIn && displayName!='Administrator RecruitMeSystem@gmail.com'">
                <v-toolbar-items>
                    <!--<div>
                        {{displayName}}
                    </div>-->
                    <v-btn to="/recruitment/profile">
                        <span>Profil   <v-icon>account_circle</v-icon></span>
                    </v-btn>
                    <v-btn v-on:click="logout()">
                        <span>Wyloguj   <v-icon>lock</v-icon></span>
                    </v-btn>
                </v-toolbar-items>
            </template>

            <template v-if="userLoggedIn && displayName=='Administrator RecruitMeSystem@gmail.com'">
                <v-toolbar-items>
                    <div>
                        {{displayName}}
                    </div>
                    <v-btn to="/adminPanel/manage/any">
                        <span>Zarządzaj   <v-icon>account_circle</v-icon></span>
                    </v-btn>
                    <v-btn v-on:click="logout()">
                        <span>Wyloguj   <v-icon>lock</v-icon></span>
                    </v-btn>
                </v-toolbar-items>
            </template>
        </v-toolbar>
    </div>
</template>

<script src="./navmenu.ts" />