<template>
    <div>
        <form mothod="post" @submit.prevent="doNothing">
            <div class="h288 w288 picture-container" :style="getdisplayedImage()" @click="$refs.PicInput.click()">
                <div class="picture-name">{{getdisplayedName()}}</div>
                <input type="file" @change="PictureSelected" accept="image/*" style="display: none;" ref="PicInput">
                <div class="overlay">
                    <span>Kliknij na zdjęcie aby załadować nowe.</span>
                </div>
            </div>
        </form>
        <div>
            <v-btn class="w288 " @click="PictureConfirmed">Zapisz zdjęcie</v-btn>
        </div>
        <v-btn class="w288 " @click="TakePhoto">Zrób zdjęcie teraz</v-btn>

    </div>
</template>

<script src="./pictureInput.ts"></script>
<style src="./pictureInput.css"></style>