<template>
    <form mothod="post" @submit.prevent="PictureConfirmed">
    <row class="col-md-12">  
        <div class ="picture-container">
            <img width="300" height="300" v-bind:src="filesrc" @click="$refs.profilePicInput.click()"/>
            <input type="file" @change="PictureSelected" accept="image/*" style="display: none;" ref="profilePicInput">
            <p class="picture-container-desc"> Kliknij na zdjęcie aby załadować nowe.</p>
        </div>
    </row>
    <row> 
        <input class="col-md-3" type="submit" value="Zapisz zdjęcie"/>
        <input class="col-md-3" type="submit" value="TODO: zrób zdjęcie kamerką"/>
    </row>
    </form>
</template>

<script src="./PictureInput.ts"></script>
<style src="./pictureInput.css"></style>