<template>
    <v-container fluid>
        <card-layout v-if="!loginReminded" minWidth="600px">

            <v-card-text>
                <h2>Przypomnij login</h2>
                <form @submit.prevent="()=>{}">
                    <v-text-field label="Adres email" v-model="email" name="email" :rules="notEmptyRule"></v-text-field>
                    <v-checkbox v-model="noPesel" label="Nie mam numeru PESEL"></v-checkbox>
                    <v-text-field v-if="!noPesel" label="Nr PESEL" v-model="pesel" name="pesel" :rules="peselHas11digit"></v-text-field>
                    <v-text-field v-show="noPesel" label="Imię" v-model="name" name="name" :rules="notEmptyRule"></v-text-field>
                    <v-text-field v-show="noPesel" label="Nazwisko" v-model="surname" name="surname" :rules="notEmptyRule"></v-text-field>
                </form>

            </v-card-text>
            <v-card-actions>
                <div class="form-group">
                    <v-btn :disabled="fetching" @click="handleSubmit">Sprawdz moj login</v-btn>
                    <img v-show="fetching" />
                </div>
            </v-card-actions>
        </card-layout>

        <card-layout v-if="loginReminded" maxWidth="344px">
            <v-card-text>
                Jesli wskazane dane zgadzaja sie z uzytkowniekiem w bazie, na adres email podany przy rejestracji został wyslany Twoj login.
            </v-card-text>
            <v-card-actions>
                <v-btn to="/">
                    Strona główna
                </v-btn>
            </v-card-actions>
        </card-layout>
    </v-container>
</template>

<script src="./remindLogin.ts"></script>