<template>
    <v-container bg fill-height grid-list-md text-xs-center>
        <v-layout row wrap>
            <v-flex>
                <h2>Regulamin</h2>
                <p>
                    Pretium platea at lacus parturient morbi.
                    Auctor hac litora volutpat facilisi dictum aenean quam nunc.
                    Hac luctus aenean vestibulum aliquet taciti volutpat aenean interdum dapibus.
                    Velit placerat commodo sagittis luctus iaculis.
                    Augue libero cum orci lobortis dolor laoreet ullamcorper augue.
                    Vestibulum suspendisse urna ridiculus mattis.
                    Rutrum id elit, molestie metus cursus.
                    Lectus torquent libero.
                </p>
                <p>
                    Placerat fringilla suspendisse cubilia aenean porttitor taciti placerat pulvinar faucibus malesuada per.
                    Class condimentum primis dignissim justo aliquet platea, nullam in litora dictum enim.
                    Adipiscing diam magnis augue ornare.
                    Elementum ultrices lectus odio himenaeos commodo dapibus elit convallis imperdiet.
                    Egestas mus, mi scelerisque.
                    Vulputate tempus mi elementum potenti curae; montes in luctus auctor nisl viverra cras? Eu nullam lacus erat odio mattis nisl.
                    Consectetur?
                </p>
                <h2>RODO</h2>
                <p>
                    Vulputate taciti urna blandit parturient ad cursus.
                    A, sociis lectus sodales.
                    Fusce, sodales ad per.
                    Euismod, adipiscing fringilla convallis felis nam nisl libero fringilla sed.
                    Mollis penatibus, sociis ante venenatis! Eleifend felis viverra conubia.
                    Varius ut aliquet ad orci sapien mus magnis sagittis donec.
                    Sed curabitur fermentum nibh bibendum platea nibh! Risus parturient.
                </p>
                <p>
                    Gravida laoreet viverra dis posuere sed mi sodales.
                    Enim nam senectus non nec felis vehicula.
                    Taciti et erat risus aliquam.
                    Praesent auctor morbi parturient aliquet vivamus.
                    Duis aptent amet taciti ante orci ac turpis.
                    Gravida lectus sit faucibus urna dapibus primis neque nec habitasse.
                    Arcu imperdiet ornare bibendum mi tempus!
                </p>
                <h2>Ciastka</h2>
                <p>
                    Eget lectus libero rhoncus porta neque platea condimentum rutrum enim.
                    Vulputate inceptos ad parturient montes justo porttitor.
                    Elementum cum penatibus dignissim aenean vivamus taciti lorem sollicitudin curabitur! Lorem pellentesque mauris, enim eleifend leo mollis.
                    Potenti nunc aliquam commodo eget.
                    Pulvinar aliquet mauris massa taciti nostra id netus facilisis nascetur dui parturient.
                    Diam a per, adipiscing.
                </p>
            </v-flex>
        </v-layout>
    </v-container>
</template>