<template>
    <div>
        <h2>list items: {{ currentSystemEntity }}</h2>
        <v-toolbar>
            <v-btn @click="changeEntity(SystemEntityEnum.Candidate)" :depressed="SystemEntityEnum.Candidate==currentSystemEntity">
                Kandydaci
            </v-btn>
            <v-btn @click="changeEntity(SystemEntityEnum.Exam)" :depressed="SystemEntityEnum.Exam==currentSystemEntity">
                Egzaminy
            </v-btn>
            <v-btn @click="changeEntity(SystemEntityEnum.ExamCategory)" :depressed="SystemEntityEnum.ExamCategory==currentSystemEntity">
                Kategorie egzaminów
            </v-btn>
            <v-btn @click="changeEntity(SystemEntityEnum.Teacher)" :depressed="SystemEntityEnum.Teacher==currentSystemEntity">
                Nauczyciele
            </v-btn>
        </v-toolbar>

        <card-layout className="col-md-10">
        <v-card-text>
            <v-data-table :headers="headers()"
                          :items="items"
                          :options.sync="pagination"
                          >
                <template slot="headerCell" scope="props">
                    <v-tooltip bottom>
                        <span slot="activator">
                            {{ props.header.text }}
                        </span>
                        <span>
                            {{ props.header.text }}
                        </span>
                    </v-tooltip>
                </template>
                <template slot="items" scope="props">
                    <td>{{ props.item.name }}</td>
                    <td class="text-xs-right">{{ props.item.calories }}</td>
                    <td class="text-xs-right">{{ props.item.fat }}</td>
                    <td class="text-xs-right">{{ props.item.carbs }}</td>
                    <td class="text-xs-right">{{ props.item.protein }}</td>
                    <td class="text-xs-right">{{ props.item.sodium }}</td>
                    <td class="text-xs-right">{{ props.item.calcium }}</td>
                    <td class="text-xs-right">{{ props.item.iron }}</td>
                </template>
            </v-data-table>
        </v-card-text>
    </card-layout>
    </div>
</template>
<script src="./manage.ts"></script>
