<template>
    <div>
        <v-toolbar dense dark>
            <v-btn @click="changeEntity(SystemEntityEnum.Candidate)" :depressed="SystemEntityEnum.Candidate==currentSystemEntity">
                Kandydaci
            </v-btn>
            <v-btn @click="changeEntity(SystemEntityEnum.Exam)" :depressed="SystemEntityEnum.Exam==currentSystemEntity">
                Egzaminy
            </v-btn>
            <v-btn @click="changeEntity(SystemEntityEnum.ExamCategory)" :depressed="SystemEntityEnum.ExamCategory==currentSystemEntity">
                Kategorie egzaminów
            </v-btn>
            <v-btn @click="changeEntity(SystemEntityEnum.Teacher)" :depressed="SystemEntityEnum.Teacher==currentSystemEntity">
                Nauczyciele
            </v-btn>
        </v-toolbar>

        <card-layout className="col-md-10">
            <h2>list items: {{ currentSystemEntity }}</h2>
            <v-btn v-if="SystemEntityEnum.Candidate!=currentSystemEntity"
                   :to="'/adminPanel/add/'+currentSystemEntity">
                Dodaj
            </v-btn>
            <v-card-text>
                <v-data-table :headers="headers()"
                              :items="items"
                              :options.sync="pagination"
                              @click:row="handleSelect"
                              :hide-default-header="SystemEntityEnum.Candidate!=currentSystemEntity"
                              :hide-default-footer="SystemEntityEnum.Candidate!=currentSystemEntity"
                              >
                </v-data-table>
            </v-card-text>
        </card-layout>
    </div>
</template>
<script src="./manage.ts"></script>
